{{extend 'layout.html'}}

<h3>Find phylogeny-taxonomy alignments by taxon</h3>

{{=form}}

{{if rows:}}
<h4>Search results</h4>
<ul>
{{for k in sorted(cit2trees.iterkeys()):}}
  <li>{{=k}}</li>
    <ul>
    {{for treeid, name, studyid in sorted(cit2trees[k]):}}
      {{x = '{}: {}'.format(treeid, name)}}
      <li>{{=A(x, _href=URL(f='view2',args=[studyid,treeid]))}}</li>
    {{pass}}
    </ul>
{{pass}}
</ul>
{{pass}}

<script type="text/javascript">
$(document).ready( function() {
    $("#myform_search_option").css("width", "auto");
    var u = "{{=URL('default', 'name_search_autocomplete')}}";
    $("#myform_search_term").autocomplete({
	source: function(request, response) {
	    $.ajax({
		url: u, dataType: "json",
		data: {
		    term: request.term,
		    search_option: $("#myform_search_option").val()
		},
		success: function(data) { response(data); }
	    });
	},
	minLength: 2
    });
});
</script>
