{{extend 'layout.html'}}

<h3>Find phylogeny-taxonomy alignments by taxon</h3>

{{=form}}

{{if rows:}}
<table>
<tr><th>Tree</th><th>MRCA</th><th>Citation</th></tr>
{{for r,m in rows:}}
<tr>
<td>{{=A(r.treeid, _href=URL(f='view2',args=[r.studyid,r.treeid]))}}</td>
<td>{{=m}}</td>
<td>{{=r.citation}}</td>
</tr>
{{pass}}
</table>
{{else:}}
{{if form.vars.search_term:}}
The taxon appears to be in one or more trees that could not be aligned
to taxonomy.
{{pass}}
{{pass}}


<script type="text/javascript">
$(document).ready( function() {
    var u = "{{=URL('default', 'name_search_autocomplete')}}";
    $("#myform_search_term").autocomplete({
	source: function(request, response) {
	    $.ajax({
		url: u, dataType: "json",
		data: {
		    term: request.term,
		    search_option: $("#myform_search_option").val()
		},
		success: function(data) { response(data); }
	    });
	},
	minLength: 2
    });
});
</script>
